<footer id="end">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin-in"></i>
    <div>
        <p>© Zeninfo34 - 2020 </p>
    </div>

</footer>
    </body>
</html>