<%- include('partials/header'); -%>

<div style="text-align:center">

    <div class="receipes" style="margin-top:30px">
        <h3 style="font-family:itallic">Recettes</h3>
        <a href="/dashboard/newreceipe"><button type="button" class="btn btn-outline" style="color:#3c76f3">Nouvelle recette</button></a>
        <a href="/dashboard/myreceipes"><button type="button" class="btn btn-outline" style="color:#3c76f3">Mes Recettes</button></a>
    </div>

    <div class="favourites" style="margin-top:30px">
        <h3 style="font-family:itallic">Recettes favorites</h3>
        <a href="/dashboard/favourites/newfavourite"><button type="button" class="btn btn-outline" style="color:#3c76f3">Nouveau favori</button></a>
        <a href="/dashboard/favourites"><button type="button" class="btn btn-outline" style="color:#3c76f3">Mes favoris</button></a>
    </div>

    <div class="schedules" style="margin-top:30px">
        <h3 style="font-family:itallic">Calendrier</h3>
        <a href="/dashboard/schedule/newschedule"><button type="button" class="btn btn-outline" style="color:#3c76f3">Nouvelle tâche</button></a>
        <a href="/dashboard/schedule"><button type="button" class="btn btn-outline" style="color:#3c76f3">Mon Calendrier</button></a>
    </div>
</div>


<%- include('partials/footer'); -%>
