<%- include('partials/header'); -%>

<div style="text-align:center">
    <h2 style="font-family:itallic">Mes recettes favorites </h2>
    <a href="/dashboard/favourites/newfavourite"><button type="button" class="btn btn-success" style="margin-bottom:15px">Ajouter une recette favorite</button></a>

    <div class="container" style="text-align:center">
        <div class="row">
            <% favorite.forEach(function(favorite){ %> 
            <div class="col-lg-4">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="<%= favorite.image %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= favorite.title %></h5>
                        <p class="card-text"><%= favorite.description %></p>
                        <a href="#" class="btn btn-primary"><%= favorite.date %></a>
                        <form action="/dashboard/favourites/<%= favorite._id%>?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger" style="margin-top:15px;">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
            <% }) %>  
        </div>

    </div>
</div>

<%- include('partials/footer'); -%>

