<html>

<head>

    <script src="https://kit.fontawesome.com/b7d3cf981d.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Détails Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylesheets/style.css">
</head>

<body style=" background-color:floralwhite;">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <h1 style="color:black"><a href="/" style="text-decoration:none">Cook Memo WebApp</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard"><%= currentUser.username %></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/myreceipes">Mes recettes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/favourites">Mes favoris</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/schedule">Mon calendrier</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Se déconnecter</a>
                    </li>


                </ul>
            </div>
        </nav>
        <div class="infos-user" style="margin-top:-50px;">
            <div class="img-profile" style="text-align:center">
                <img class="girl" src="../../images/girl.jpg" width="170px" style="border-radius:50%">
                <a class="item" href="/dashboard">
                    <h4 style="text-align:center;color:black;text-decoration:none"></h4>
                </a>
            </div>
        </div>
        

        <div style="width:400px">
            <% if(error && error.length>0){ %>
            <div class="warning-message">
                <div class="header">
                    <%= error %>
                </div>
            </div>
            <% } %>
            <% if(success && success.length > 0) { %>
            <div class="success-message">
                <div class="header">
                    <%= success%>
                </div>
            </div>
            <% } %>
        </div>
        

        <div style="margin-top:40px;text-align:center">
            <h2>
                <img src="<%= receipe.image %>" height="200px" width="200px" style="border-radius:10%;">
                <div class="content">
                   
                </div>
            </h2>
            <h3 style="font-family:itallic">Liste des ingrédients</h3>
            <a href="/dashboard/myreceipes/<%= receipe._id %>/newingredient"><button type="button" class="btn btn-success">Ajouter un nouvel ingrédient</button></a>
            <div class="team" style="margin-top:30px;margin-right:40px">
                <table class="ui single line table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Meilleurs plats avec</th>
                            <th>Quantité</th>
                            <th>Option 1</th>
                            <th>Option 2</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% ingredient.forEach(function(ingredient){ %>
                        <tr>
                            <td><%= ingredient.name%></td>
                            <td><%= ingredient.bestDish%></td>
                            <td><%= ingredient.quantity%></td>
                            <td>
                                <form action="/dashboard/myreceipes/<%= receipe._id%>/<%= ingredient._id%>?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                            <td>
                                <form action="/dashboard/myreceipes/<%= receipe._id%>/<%= ingredient._id%>/edit" method="POST">
                                    <button type="submit" class="btn btn-outline-warning btn-sm">Modifier</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <%- include('partials/footer'); -%>
