<html>

<head>
    <script src="https://kit.fontawesome.com/b7d3cf981d.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>


    <section id="titre">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <h1 style="color:black"><a href="/" style="text-decoration:none">Cook Memo WebApp</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Inscription</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>

                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <!-- Message de déconnexion -->
                        <div style="width:400px">
                            <% if(error && error.length>0){ %>
                                <div class="warning-message">
                                    <div class="header">
                                        <%= error %>
                                    </div>
                                </div>
                            <% } %>
                            <% if(success && success.length > 0) { %>
                                <div class="success-message">
                                    <div class="header">
                                        <%= success%>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="ui main text container segment" style="margin-top:50px;margin-right:100px;width:500px">
                            <h1 style="color:#badc58">Connectez-vous à votre compte</h1>
                            <form action="/login" method="POST">
                                <div>
                                    <div class="field">
                                        <div>
                                            <i class="user icon"></i>
                                            <input type="text" class="form-control" placeholder="Nom" name="username" required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div>
                                            <i class="lock icon"></i>
                                            <input type="password" class="form-control" placeholder="Mot de passe" name="password" required autocomplete="off">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success" style="margin-top:15px;">Connectez-vous</button>
                                </div>
                            </form>
                            <div class="ui message">
                                Nouvel utilisateur? <a href="/signup" style="color:#a29bfe;text-decoration:none">Inscrivez-vous</a><br>
                                <a href="/forgot" style="color:#a29bfe;text-decoration:none">Mot de passe oublié? </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <img class="img-studio54" src="images/cooking.gif" width="80%" height="80%" style="margin-top:30px; border-radius: 10px;">

                    </div>


                </div>



            </div>


    </section>
    <footer id="end">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <div>
            <p>© Zeninfo34 - 2020 </p>
        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
