<html>

<head>

    <script src="https://kit.fontawesome.com/b7d3cf981d.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Mes favoris</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylesheets/style.css">
</head>

<body style=" background-color:floralwhite;">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <h1 style="color:black"><a href="/" style="text-decoration:none">Cook Memo WebApp</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard"><%= currentUser.username %></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/myreceipes">Mes recettes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/favourites">Mes favoris</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/schedule">Mon calendrier</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Se déconnecter</a>
                    </li>


                </ul>
            </div>
        </nav>
        <div class="infos-user" style="margin-top:-50px;">
            <div class="img-profile" style="text-align:center">
                <img class="girl" src="../../images/girl.jpg" width="170px" style="border-radius:50%">
                <a class="item" href="/dashboard">
                    <h4 style="text-align:center;color:black;text-decoration:none"></h4>
                </a>
            </div>
        </div>
      
        
        <div style="width:400px">
            <% if(error && error.length>0){ %>
            <div class="warning-message">
                <div class="header">
                    <%= error %>
                </div>
            </div>
            <% } %>
            <% if(success && success.length > 0) { %>
            <div class="success-message">
                <div class="header">
                    <%= success%>
                </div>
            </div>
            <% } %>
        </div>
        
    <div class="Favourite-Add" style="text-align:center">
        <div style="margin-top:50px;">
                <h1 style="font-family:Itallic">Nouveau favori</h1>
                <form action="/dashboard/favourites" method="post">
                    <div class="img-url">
                        <label>Image Url</label><br>
                        <input type="text" name="image" placeholder="image url" autocomplete="off">
                      </div>
                      <div class="title">
                        <label>titre</label><br>
                        <input type="text" name="title" placeholder="titre" autocomplete="off">
                      </div>
                       <div class="comm">
                        <label>Description</label><br>
                        <textarea name="description"></textarea>
                      </div>
                      <button type="submit" class="btn btn-success" style="margin-top:15px;">Ajouter favori</button>
                </form>
        </div>
    </div>

    <%- include('partials/footer'); -%>