<%- include('partials/header'); -%>

<div style="text-align:center">
    <h2 style="margin-top:30px;margin-bottom:10px;color:black;font-family:itallic">Mes recettes </h2>
    <a href="/dashboard/newreceipe"><button type="button" class="btn btn-success">Ajouter une recette</button></a>


    <div class="receipe" style="margin-top:50px;">
        <div>
            <!-- Boucle pour récup les recttes dans la bdd -->
            <% receipe.forEach(function(receipe){ %>
            <div class="item">
                <img class="rounded" src="<%= receipe.image%>" style="margin-top:15px;border-radius:30%" width="30%">
                <div class="content">
                    <div class="header">
                        <h3><%= receipe.name%></h3>
                    </div>
                </div>
                <div class="details">
                    <a href="/dashboard/myreceipes/<%= receipe._id%>"><button type="button" class="btn btn-success" style="margin-bottom:10px;">Voir les détails</button></a>
                    <form action="/dashboard/myreceipes/<%= receipe._id%>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>
