<%- include('partials/header'); -%>

<div style="text-align:center">
    <h2 style="margin-top:40px;color:black;font-family:itallic">Calendrier:</h2>
    <a href="/dashboard/schedule/newschedule"><button type="button" class="btn btn-success">Nouvelle programmation</button></a>

    <% schedule.forEach(function(schedule){ %>
    <div class="infos-schedule" style="margin-top:30px">
        <h3><%= schedule.recipeName %></h3>
        <p>Durée: <%= schedule.duration %></p>
        <p>Date: <%= schedule.scheduleDate %></p>
        <div class="item">
            <div class="delete-schedule">
                <form action="/dashboard/schedule/<%= schedule._id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" value="delete">Supprimer</button>
                </form>
            </div>
            <div class="content">
                <span>Ajouté le:  <%= schedule.date %></span>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<%- include('partials/footer'); -%>
