@font-face{
    font-family:"RobotoSlab-Regular";
    src:url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}

@font-face{
    font-family:"RobotoSlab-Medium";
    src:url(../fonts/Roboto_Slab/RobotoSlab-Medium.ttf);
}
@font-face{
    font-family:"RobotoSlab-Bold";
    src:url(../fonts/Roboto_Slab/RobotoSlab-ExtraBold.ttf);
}
@font-face{
    font-family:"Itallic";
    src:url(../fonts/newItalic.woff2);
}

.img-studio54{
    width: 100%;
    transform: rotate(20deg);
    
}

.container-fluid{
    padding: 5% 10%;
}
h1{
    font-family: RobotoSlab-Medium;
}
h3{
    font-family: RobotoSlab-Regular;
    font-weight: bold;
}
.navbar{
    padding-bottom: 10%;
} #titre{
    background-color:rgb(255, 255, 255); 
}


#features{
    padding: 10% 5%;
    background-color: white;
    position: relative;
    z-index: 1;
}
#testimonials{
    background-color:floralwhite;
    color: black;
    font-family: Itallic;
    text-align: center;
}
.img{
    width: 10%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
footer{
    text-align: center;
    padding: 5px;
}
ul li a:visited {
    color: black;
}
ul li a:hover {
    color: #dbab28;
}
h1 a {
    color: black;
    text-decoration: none;
}
h1 a:visited {
    color: black;
}
h1 a:hover {
    color: black;
}

.girl{
    border-radius: 50%;
}
.item{
    text-decoration: none;
}
.item:visited{
    color: black;
}
.item:hover{
    color: #e2b63c;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #a29bfe;
    border-color: #a29bfe;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #b8e994;
    border-color: #b8e994;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ffda79;
    border-color: #ffda79;
}




